html {
    min-height: 100dvh;
}
body {
    background-color: lightgray;
    margin: 0;
}
header {
    padding: .25%;
    width: 100dvw;
    margin: 0;
}
.white-bg {
    background-color: white;
}
.post {
    width: 600px;
    margin: auto;
    margin-top: 3rem;
}
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.post-date {
    color: gray;
}
img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
p {
    margin: 0;
    padding: 1rem;
}